<!DOCTYPE html>
<html lang = "en" ng-app="lister">
  <head>
    <!-- Provides metadata about the HTML document -->
    <meta charset="UTF-8" />
    <!-- Define a description of the web page -->
    <meta name="description" content="Profile Page" />
    <!-- Define keywords for search engines -->
    <meta name="keywords" content="'wish', 'list'" />
    <!-- Define the author of the page -->
    <meta name="author" content="co-authored by Hunter Renard, Roy O'Dell, and Colton Hall" />
    <!-- Specify width of the page for a browser to render -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Specifies the character encoding for the document -->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <!-- Specifies the language for the document -->
    <meta http-equiv="Content-Language" content="en">
    <!-- Specifies the preferred style sheet to use -->
    <meta http-equiv="default-style" content="../StyleSheets/style.css" />

    <!-- favicon goes here -->

    <!-- Defines the title of the document -->
    <title>LISTER</title>

    <!--  Specifies the base URL/target for all relative URLs in a document -->
    <base href="." target="_self" />

    <!-- Library style sheets -->
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="../Bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../Bootstrap/bootstrap-theme.min.css" />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />

    <!-- external normal style sheets -->
    <!--[if !IE]><!-->
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.4/socket.io.js"></script>
    <script src="Javascript/controller.js"></script>
    <!--<![endif]-->
  </head>
  <body id = "profile">
      <!-- header -->
      {% include "logged_in_header.html" %}
      
      {% include "profile.html" %}
      
      {% include "search.html" %}

	<br>
        <div class="container">
             <!-- Example row of columns -->
             <div class="row">
                <div class="col-md-12">
                    <form class="form" role="form" method="post" target="_self" action="/wishlist" accept-charset="UTF-8">
   	                <input class="form-control" type="text"  id="item_name" name="item_name" placeholder="Wishlist Item"><br>
   	                <input class="form-control" type="text"  id="item_url" name="item_url" placeholder="Item URL"><br>
   	                <input class="form-control" type="text"  id="item_price" name="item_price" placeholder="Item Price"><br>
   	                <button class="btn btn-primary" type="submit">Add Item</button>
   	            </form>
   	            <hr>
                   <p>
                       {% if item %}
                       <table class="list-group">
                           <thead>
                               <th>Item</th>
                               <th>Price</th>
                           </thead>
                           <tbody>
			                      {% for data in item %}
			                          <tr>
                	    	          <td><a href="{{data['url']}}" class="list-group-item">{{data['item_name']}}</a></td>
                	    	          <td>{{data['item_price']}}</td>
                	    	          </tr>
			                      {% endfor %}
		                   </tbody>
		               </table>
                       {% endif %}
                   </p>
               </div>
                <hr />
             <!-- footer goes here -->
    
    	<!-- Library Scripts -->
        <!-- jQuery ***MUST GO BEFORE BOOTSTRAP SCRIPT!!!*** -->
        <script src="../jQuery/jquery.min.js" type="text/javascript"></script>
        <!-- Bootstrap -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
        <!-- External normal Scripts -->
        <script src="../Javascript/script.js" type="text/javascript"></script>
  </body>
</html>